/*
width,
height,
display: inline-block,
margin,
padding,
*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

#header {
    border-bottom: 1px solid;
}

#header *{
    display: inline-block;
}

#header h1{
    font-size: 16px;
}

#header img{
    width: 70px;
}

#header nav {
    float: right;
}

#header ul{
    margin-top: 25px;
    margin-left: 25px;
}

#header ul li{
    width: 120px;
    text-align: center;
}

#banner{
    text-align: center;
    height: 500px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#banner p{
    padding-top: 240px;
}

#photos div div {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

#photos div {
    margin: 0 auto;
    width: 1331px;
}

#box1 {
    background-image: url(../img/product-1.png);
}

#box2 {
    background-image: url(../img/product-2.jpg);
}

#box3 {
    background-image: url(../img/product-3.jpg);
}

#box4 {
    background-image: url(../img/product-4.jpg);
}

#box5 {
    background-image: url(../img/product-5.jpg);
}

#box6 {
    background-image: url(../img/product-6.jpg);
}

#banner button:hover, #photos button:hover{
    background-color: purple;
    color: #fff;
    cursor: pointer;
}

#banner button {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
}

#photos button {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
}

footer {
    background-color: purple;
    color: #fff;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

/* CSS do formulário */

#contact {
    height: 650px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
#contact *{
    display: block;
}

#contact form {
    margin: 0 auto;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid purple;
    border-radius: 10px;
    padding: 30px;
}

#contact h1 {
    text-align: center;
}

#contact form input, textarea {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border: 1px solid purple;
    border-radius: 30px;
}

#contact form textarea {
    height: 120px;
}

#check {
    display: inline-block;
    width: 50%;
}

#label-check {
    display: inline-block;
}

#contact form button {
    display: inline-block;
    background-color: purple;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
}